@font-face {
    font-family: "Roboto";
    src: url(../Fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "Anton";
    src: url(../Fonts/Anton-Regular.ttf);
}
:root {
    --dark:#02040f;
    --light:#edf6f9;
    --dark-light:#1A1D2A;
    --light-dark:#d6e8ec;
}
:root.ativado {
        --dark:#edf6f9;
        --light:#02040f;
         --dark-light:#d6e8ec;
         --light-dark:#1A1D2A;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
header button {
    width: 130px;
    border-radius: 10px;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.05rem;
    position: relative;
    height: 4rem;
    border: 3px solid var(--light);
    background-color: var(--dark);
    color: var(--light);
    z-index: 10;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);

}
header button::after {
    position: absolute;
    content: "";
    width: 0px;
    border-radius: 0px 5px 7px 7px;
        transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    height: 3.80rem;
    z-index: -1;
    background-color: var(--light);
    top:0%;
    left: 0;

}
header button:hover::after {
    width: 127px;
}
header button:hover {
    color: var(--dark);
}
#container {
    color: var(--light);
    min-height: 100vh;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    overflow-y: hidden;
    overflow-x: hidden;
}
::selection  {
    background-color: var(--light);
    color: var(--dark);
}
button, input {
    outline: none;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
ul, ol {
    list-style: none;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark);
}
header {
    font-family: "Roboto";
    height: 15vh;
    transform: translateY(-80px);
    transition: 0.65s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    opacity: 0;
    z-index: 10;
}
a, li, h1, h2, h3, h4, h5, h6, p {
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#modo-dark-and-light {
    background-color: #1A1D2A;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    margin-right: 50px;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 2px;
    transition: 0.65s cubic-bezier(0.645, 0.045, 0.355, 1.000);

}
#bolinha {
    width: 30px;
    height: 30px;
    background-color: #edf6f9;
    border-radius: 50%;
    left: 7%;
    transition: 0.65s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    position: absolute;
}
#bolinha.ativado {
    transition: 0.65s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    left: 63%;
}
header.start {
    transform: translateY(0px);
    opacity: 1;
}
header nav {
    height: 100%;
    display: flex;
    align-items: center;
    scale: 1;
    transform: translateY(-150px);
    transition: 0.7s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
header nav.start {
    transform: translateY(0px);
}
header a {
    margin-right: 45px;
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: 600;
    color:var(--light);
    position: relative;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
header nav a::after {
    content: "";
    position:absolute;
    transform: scaleX(0);
    width: 100%;
    height: 3px;
    bottom: 0;
    transition: 0.5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
    left: 0;
    background-color: var(--light);
}
header a:hover::after {
    transform: scaleX(1);
}
header.start i {
    display: none;
    font-size: 3rem;
    cursor: pointer;
    margin-right: 20px;
}
header img {
    width: 150px;
    height: 50px;
    transition: 0.5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
    cursor: pointer;
    margin-left: 50px;
    margin-right: 20px;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: #8d99ae;
}
::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    border-radius: 30px;
}


#menu-for-phones {
    background-color: var(--dark);
    position: fixed;
    width: 100%;
    height: 10vh;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    bottom: -20%;
    z-index: 100;
    display: flex;
}
#menu-for-phones.start {
    opacity: 0;
    bottom:0;
}
#menu-for-phones nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: center;
}
#pedido-botao {
    background-color: var(--light);
    border: none;
    font-weight: 600;
    width: 70px;
    height: 70px;
    position: absolute;
    font-size:1.5rem;
    color: var(--dark);
    border-radius: 50%;
    transform:translateX(43vw) translateY(-70px);
}
#menu-for-phones a {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    position: relative;
    font-size: 2rem;
    color: var(--dark);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    
}
#menu-for-phones a:hover {
    background-color: var(--light);

}
#menu-for-phones a:hover i {
    color: var(--dark);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000)
}
#menu-for-phones i {
    color: var(--light);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000)

}
#menu-for-phones a:active {
    background-color: var(--light);
}
#menu-for-phones a:active i {
    color: var(--dark);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
@media (max-width: 500px) {
    * {
        cursor: none;
    }
    header.start img {
        margin-left: 0px;
        width: 200px;
        height: 66px;
    }
    header.start i {
        display: none;
    }
    header button {
        scale: 0.8;
        margin-right: -50px;
    }

}
#user-cabeca {
    width: 25px;
    height:25px;
    background-color: var(--light);
    border-radius:50%;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    margin-bottom: 20px;
}
#area-user-foto {
    height: 100%;
    border-radius: 30px 0px 0px 30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;

}
#user {
    width: 300px;
    background-color: var(--light);
    height: 100px;
    display:none;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#user-foto {
    background-color: var(--dark-light);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    width:4rem;
    border-radius: 50%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
#nome {
    width: 70%;
    display: flex;
    align-items: center;
    border-radius: 0 30px 30px 0px;
    justify-content: center;
    height: 100%;
    color: var(--dark);
    font-size: 11px;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#loginoubotao {
    height: 100%;
    display: flex;
    transform: translateY(-100px);
    align-items: center;
    width: 400px;
    justify-content: center;
    transition: 0.9s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#loginoubotao.start {
    transform: translateY(0px);
}

@media (min-width:0px) and (max-width:1240px) {
    #menu-for-phones.start {
        opacity: 1;
        bottom: 0;
    }
    #login-botao {
        display: flex;
        margin-left: 50px;

    }
    header.start nav {
        display: none;
    }
    #modo-dark-and-light {
        display: none ;
    }
    header.start button {
        display: block;
    }
}
@media (max-width:350px) {
    #menu-for-phones a {
        width: 25%;
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
    
}
}

@media (min-width:700px) and (max-width:1240px) {
    header.start nav {
        display: none;
        margin-left: 50px;
    }
    header.start button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #menu-for-phones a {
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (min-width:200px) and (max-width: 600px) {
    #user {
        width: 100px;
        margin-left:50px;

    }
    #area-user-foto {
        width: 500px;
        height: 50px;
    }
    #nome {
        display: none;
    }
}