@import url(./global.css);
#container {
    display: flex;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    justify-content: space-between;
    overflow-y: hidden;
}
#login {
    width: 35%;
    font-family: "Roboto";
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius:30px ;
    padding-top: 4vw;
    padding-left: 4vw;
    padding-right:4vw ;
    background-color: var(--dark-light);
}
a {
    color: var(--light-dark);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
a:hover, #esqueci:hover {
    color: var(--light);
}
input {
    width: 25rem;
    border-radius: 10px; 
    padding-left: 20px;
    margin-top: 20px;
    font-size: 1.05rem;
    margin-bottom: 20px;
    color: var(--light);
    background-color: var(--dark-light);
    border: 3px solid var(--light);
    height: 4rem;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
input::placeholder {
    color: var(--light-dark);
}
#parag-login {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 10px;
}
#senhas {
    width: 27rem;
    border-radius: 10px 0px 0px 10px;
    border-right: none ;
}
#modo-dark-and-light {
    margin-right: 10px;
    margin-top: 20px;

}
#esqueci {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--light-dark);
}
#button-enviar {
    width: 25vh;
    border-radius: 30px;
    background-color: var(--dark-light);
    height: 3rem;
    margin-top: 20px;
    border: 3px solid var(--light);
    color: var(--light);
    font-weight: 600;
    z-index: 10;
    text-transform: uppercase;
    font-size: 1.25rem;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    position: relative;
}
#button-enviar::after {
    position: absolute;
    width: 24.5vh;
    border-radius: 30px;
    z-index: -2;
    height: 2.7rem;
    transition: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    content: "";
    opacity: 0;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--light);
}
#button-enviar:hover::after {
    transform: scaleX(1);
    opacity: 1;
}
#button-enviar:hover {
    color: var(--dark);

}
#show-and-hide {
    width: 3rem;
    height: 4rem;
    background-color: var(--dark-light);
    border-top: 3px solid var(--light);
    border-right: 3px solid var(--light);
    border-bottom: 3px solid var(--light);
    cursor: pointer;
    color: var(--light);
    border-left: none;
    border-radius: 0px 10px 10px 0px;
        transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#show-and-hide i {
    font-size: 2rem;
}
#senha-detalhes {
    display: flex;
    align-items: center;
}
#volte {
    width: 5rem;
    margin-top: 20px;
    font-size: 3rem;
    height: 5rem;
    font-weight: 600;
    color: var(--light);
    background-color: var(--dark-light);
    border-radius: 50%;
    margin-left: 20px;
    border: none;
}
#login-baixo {
    height: 18rem;
    margin-top: 50px;
    text-align: center;
}
#login-alternativas {
    height: 10vh;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
#login-alternativas button {
    width: 3rem;
    border:none;
    margin-left: 10px;
    font-size: 2rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50% ;
    height: 3rem;
    background-color: var(--dark);
    scale: 1.0;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    color: var(--light);
}
#login-alternativas button:hover {
    scale: 1.1;
    background-color: var(--dark-light);
}
#email, #senha-detalhes {
    width: 95%;
}
@media (min-width:0px) and (max-width:1220px) {
    #volte {
        display: none;
    }
    #modo-dark-and-light {
        display: none;
    }
    #container {
        display: flex;
        justify-content: center;
    }
    #login {
        width: 90%;
        margin-left: 2vw;
        margin-right: 2vw;
    }
}
@media (min-width: 451px)and (max-width:500px) {
    #email {
        margin-bottom: 50px;
    }
    
    #email::placeholder {
        font-size: 0.90rem;
        padding-left: 2px;
    }
    #login {
        padding-left: 20px;
        padding-top: 50px;
    }
    #senha-detalhes {
        width: 19rem;
    }
    #login-baixo {
        margin-top:  20px;
    }
}
@media(min-width:700px) and (max-width:900px) {

    #senha-detalhes input {
        width: 95%;
    }
}
@media (min-width: 901px) and (max-width:1220px) {
    #email, #senha-detalhes {
        width: 90%;
    }
    .labelos {
        font-size: 1.5rem;
    }
    #senha-detalhes input {
        width: 95vh;
    }
}
#esqueceu {
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
    font-size: 1.0rem;
    color: var(--light-dark);
}