@import url(./global.css);
#profissional {
    background-color:var(--dark-light);
    width: 600px;
    height: 300px;
    border-radius: 10px;
    font-family: "roboto";

}
#analisar {
    border: none;
    color: var(--light);
    width: 150px;
    margin-left: 50px;
    font-weight: 600;
    border-radius: 10px;
    height: 50px;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    background-color: var(--dark-light);
    scale: 1.0;    
    font-size: 1.2rem;
}
#analisar:hover {
    background-color: var(--light-dark);
    color: var(--dark);
    scale: 1.1;
}
#profissional h1 {
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
    text-align: center;
}
#primeiralinha {
    display: flex;
    margin-left: 40px;
    margin-top: 50px;
    font-size:1.2rem ;

}
#primeiralinha p {
    margin-left: 20px;

}
#filtrador {
    width: 100%;
    background-color: var(--dark);
    height: 25vh;
    display: flex;
    align-items: center;
}
#filtrador input {
    background-color: var(--dark-light);
    border: 2px solid var(--light);
    color: var(--light);
    border-radius: 10px;
    height: 50px;
    margin-left: 25px;
        transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    padding-left: 15px;
    }
input[type="checkbox"] {
    cursor: pointer;

}
#filtrador input:hover {
    padding-left:25px;
}
#lista {
    min-height: 100vh;  
    width: 100%;
    padding-top: 20px;
}
#parte-de-baixo {
    height:20%;
    margin-top: 50px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#parte-de-baixo button {
    background-color: var(--dark-light);
    border: 3px solid var(--light);
    height: 50px;
    width: 150px;
    color: var(--light);
    font-weight: 600;
    border-radius: 10px;
            transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    margin-bottom: 20px;
}
#parte-de-baixo button:hover {
    background-color: var(--light);
    color: var(--dark);
}
#profissional a {
    color: var(--light);
}
#tela {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 100%;
    display: none;
}
input[type="checkbox"] {
    --webkit-appearance: none;
    --moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--dark);
                transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
}

input[type="checkbox"]:checked {
    background-color: var(--light);
}
.pedidoslista {
    width: 95%;
    background-color: var(--dark-light);
    margin-left: 35px;
    margin-top: 20px;
    display: flex;
    margin-right: 35px;
    height: 35vh;
    border-radius: 20px;
}
.esquerda-pedido {
    font-family: "Roboto";
    width: 50%;
    padding: 10px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
.direita-pedido {
    border-radius: 0px 10px 10px 0px;
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
}
.realizar {
    border: 2px solid var(--light);
    background-color: var(--light-dark);
    width: 150px;
    height: 50px;
    color: var(--dark);
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
                transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.realizar:hover {
    color: var(--light);
    background-color: var(--dark);
}
.esquerda-pedido p {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1.5rem;
    margin-left: 20px;
}
.esquerda-pedido p:first-child {
    margin-top: 10px;
}
.esquerda-pedido h1 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: 500;
}