@import url("./global.css");
#container {
    color: var(--light);
    min-height: 100vh;
    overflow-y: hidden;
}
#container-inicio {
    display: flex;
    min-height: 90vh;
    margin-top: 70px;
    margin-bottom: 70px;
}
#container-inicio img {
    width: 550px;
    height: 550px;
    object-fit: cover;
    border-radius: 50px;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transform: translateX(-150px);
}
#motor.start {
    opacity: 1;
    transform: translateX(0px);
}
#container-sobre {
    width: 50%;
    height: 100%;
    padding-top: 65px;
    padding-bottom: 25px;
    padding-right: 50px;
    font-family: "roboto";
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#container-sobre.start {
    opacity: 1;
    transform: translateX(0px);
}
#container-sobre h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}
#container-sobre h2 {
    font-size: 1.5rem;
    font-weight: 500;
}
#container-sobre a {
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    color: #F2CD88;
}
#container-sobre a:hover {
    color: #F26B8F;
}
#container-inicio-imagem {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
#basico {
    color: #F2CD88;
}
#medio {
    color: #F26B8F;
}
#premium {
    color: #EE05F2;
}

#planos nav {
    margin-top: 25px;
    margin-bottom: 50px;
    height: 10vh;
    display: flex;
    border: 3px solid var(--light);
    width: 600px;
    align-items: center;
    position: relative;
    border-radius: 10px;
    justify-content: center;
}
#planos nav a {
    color: var(--light);
    font-size: 1.5rem;
    font-family: "roboto";
    height: 100%;
    font-weight: 500;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 10;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
}
#planos nav a:hover {
    background-color: var(--light);
    color: var(--dark);
    
}
.plano {
    color: var(--light);
    background-color: var(--dark);
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 30px;
    transition: 0.5s cubic-bezier(0.645,0.045,0.355, 1.000);
    padding-top: 20px;
}
#plano-escolher .plano {
    opacity: 0;
    transform: translateX(-150px);
    transition: 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
}
#plano-escolher.scroll-ativo .plano {
    opacity: 1;
    transform: translateX(0px);
}
#plano-escolher.scroll-ativo #plano1 {
    transition: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#plano-escolher.scroll-ativo #plano2 {
    transition: 0.9s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#plano-escolher.scroll-ativo #plano3 {
    transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.plano h1 {
    position: relative;
    padding-left: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    font-family: "roboto";
}
.plano h1::before {
    position: absolute;
    content: "";
    bottom: 30%;
    transform: translateX(-25px) rotate(45deg);
    width: 15px;
    height: 15px;
}
#plano1 h1::before {
    background-color: #F2CD88;
}
#plano2 h1::before {
    background-color: #F26B8F;
}
#plano3 h1::before {
    background-color: #EE05F2;
}
.plano ul {
    height: 50vh;
    margin-right: 20px;
    margin-left: 20px;
}
.plano li {
    position: relative;
    padding-left: 25px;
    font-family: "roboto";
    font-weight: 500;
    margin-bottom: 20px;
}
.plano li::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: aqua;
    left: 0;
    top: 35%;
    transform: translateX(0px) rotate(45deg);
}
.plano {
    width: 35%;
    height: 90vh;
}
#plano-escolher{
    display: flex;
    min-height:80vh;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: var(--light);
    margin-top: 30px;
    justify-content: center;
    padding-bottom: 50px;
    padding-right: 25px;
    padding-left: 25px;
}
.plano div {
    width: 100%;
    height: 14vh;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:1240px) {
    #container-inicio {
        display: block;
    }
}
@media (max-width: 500px) {
    #container-inicio img {
            width: 350px;
            height: 350px;
            padding: 27px;
        }
}
@media (min-width:725px) and (max-width: 1200px) {
    #container-inicio-imagem {
        width: 100%;
        height: 50vh;
    }
    #container-sobre {
        width: 100%;
        text-align: center;
    }
}
@media (min-width:1101px) and (max-width:1200px) {
    #container-sobre {
        margin-top: 200px;
    }
}
@media (min-width:200px) and (max-width: 800px) {
    #container-inicio {
        display: block;
    }

    #container-inicio-imagem {
        width: 100%;
        height: 60vh;
    }
    #container-sobre {
        width: 100%;
        padding: 0;
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        text-align: center;
    }
    #container-sobre h2 {
        font-size: 1.5rem;
        margin-top: 50px;
    }
    #container-inicio {
        margin-bottom: 20px;
    }
    #menu {
        width: 100%;
        height:50vh;
    }
    #plano-escolher{
        display: block;
        padding: 0;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .plano {
        margin: 0;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 30px;
    }
    #container-sobre {
        margin-bottom: 100px;
    }
}
@media (min-width:750px) and (max-width:770px) {
    .plano {
        margin-left: 25vw ;
        margin-right: 25vw;
    }
}