@import url("./global.css");
#container, html, body {
    overflow-x: hidden;
    position: relative;
}
#pesquisa-parte {
    width: 100%;
    display: flex;
    align-items: center;
    height: 20vh;
    padding-left: 50px;
}
#produtos {
    width: 10000vh;
    min-height: 75vh;
    display: flex;
    z-index: 0;
    justify-content: center;
}
#seta-esquerda, #seta-direita{
    border: none;
    position: absolute;
    z-index: 10000;
    width: 5%;
    height:43rem;
    background-color: var(--dark);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;

}
#area-pedido {
  background-color: var(--dark-light);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "anton";
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 100;
  text-align: center;
  margin: 50px;
  border-radius: 20px;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
  text-transform: uppercase;
}
#valor {
  margin-top: -40px;
  margin-right: 25px;
  font-family: "roboto";
}
#area-pedido button {
  border: none;
  color: var(--light);
  width: 70px;
  height: 70px;
  padding-top:-10px ;
  margin-top: 20px;
  font-size: 3rem;
  border-radius: 50%;
  background-color: var(--dark);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#area-pedido button:hover {
  background-color: var(--light);
  color: var(--dark);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#barra {
  background-color: var(--light);
  width: 100%;
  height: 20px;
  margin-left: 5%;
  border-radius: 30px;
  margin-right: 5%;
}
#progresso {
  display: flex;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 50px;
  background-color: var(--dark-light);
  height: 20vh;
  border-radius: 20px;
}
#seta-direita {
    left: 95%;
    top:8%;
}
#seta-esquerda.opacidade:hover {
    padding-right: 10px;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;

}
#seta-direita:hover {
    padding-left: 10px;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
}
#seta-esquerda i, #seta-direita i {
    font-size: 5rem;
    z-index: 10;
    color: var(--light);
}
#roleta {
    background-color: var(--dark);
    width: 10000vh;
    display: flex;
    overflow: hidden;
    opacity: 0;
    padding-left: 100px;
    transform: translateX(-130px);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
}
#roleta.start {
  transform: translateX(0px);
  opacity: 1;
}
#lupa {
    background-color: var(--dark-light);
    color: var(--light);
    width:15% ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
    border-radius: 0px 30px 30px 0px;
   
}
#forapedido {
  position: fixed;
  z-index: 10000000;
  width: 100vw;
  height: 100vh;
  display: none;
  left: 0;
  overflow-y: auto;
  background-color: var(--dark);
  top: 0;
}
#finalpedido {
  width: 100%;
  height:20%;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: 5px solid var(--dark);
}
#finalpedido button {
  margin-right: 50px;
  margin-top: -40px;
  border: none;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
  font-family: "roboto";
  font-weight: 800;
  font-size: 1rem;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
}
#aviso {
  margin-top: -50px;
}
#finalpedido button:hover {
  color: var(--light);
  background-color: var(--dark);
}
#left-centro-pedido {
  width: 50%;
  height: 100%;
  padding: 50px;
}
#right-centro-pedido {
  width: 50%;
  height: 100%;
  width: 0px;
  background-color: var(--dark);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
}
#esquerda-final-pedido {
  width: 50%;
  height: 100%;
  font-family: "roboto";
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: -20px;
}
#direita-final-pedido {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
#right-centro-pedido.abriu {
  width: 50%;
}
#metodos-de-pagamento {
  width: 60vh;
  display: flex;
}
#pedido {
  position: fixed;
  z-index: 10000000;
  width: 90vw;
  margin: 10vh;
  border-radius: 30px;
  height: 90vh;
  background-color: var(--dark-light);
  display: none;
  color: var(--light);
  overflow-y: auto;
  left: 0;
  top: 0;
}
#linha1, #linha2, #linha3, #linha4 {
  display: flex;
  margin-bottom: 34px;
  align-items: center;

}
#linha1 h1, #linha2 h1, #linha3 h1, #linha4 h1 {
  font-size: 1.35rem;
  font-weight: 500;
  margin-left: 20px;
  
}
#centropedido input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: var(--light);
  border-radius: 50%;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
}
#centropedido input[type="radio"]:checked {
  background-color: var(--dark);
}
#aplicacoesadicionais h1:first-child {
  text-transform: uppercase;
  font-family: "Anton";
  letter-spacing: 3px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}
#centropedido {
  display: flex;
  min-height: 100vh;
  font-family:"roboto";
}
#centropedido input[type="text"] {
  background-color: var(--dark);
  border-radius: 20px;
  height: 60px;
  width: 300px;
  margin-bottom: 20px;
  border: 3px solid var(--light);
  padding-left: 25px;
  color: var(--light);
}
#centropedido input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 30px;
  border-radius: 5px;
  height: 30px;
  border: 3px solid var(--light);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
}
#centropedido input[type="checkbox"]:checked {
  background-color: var(--light);
}
#centropedido input[type="text"]::placeholder {
  color: var(--light);
  
}
#cimapedido   {
  height : 15%;
  width: 100%;
  border-bottom: 5px solid var(--dark);
  border-radius: 30px 30px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: end;
}
#centropedido {
  width: 100%;
  height: 70%;
}
#cimapedido button {
  margin-right: 50px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--light);
  color: var(--dark);
  border: none;
  font-weight: 800;
  font-size: 2rem;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
}
#cimapedido button:hover {
  background-color: var(--dark);
  color: var(--light);

}
#lupa i {
    scale: 1;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
}
#pesquisa-lupa {
    display: flex;
    width: 40vh;
    margin-right: 60px;
    height: 7vh;
        transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#pesquisa-parte input {
    background-color: var(--dark-light);
    border: none;
    padding-left:20px;
    border-radius:30px 0px 0px 30px;
    font-size: 1.2rem;
    height: 7vh;
    width: 85%;
    font-family: "roboto";
    color: var(--light);
}
#pesquisa-lupa {
  transform: translateY(-150px);
}
#pesquisa-lupa.start {
  transform: translateY(0px);
}
#input::placeholder {
    color: var(--light);
    font-size: 800;
}
select {
background-color: var(--dark-light);
border: none;
color: var(--light);
margin-right: 30px;
width: 18vh;
padding-left: 10px;
border-radius: 05px;
transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) ;
height: 7vh;
font-weight: 700;
transform: translateY(-150px);
opacity: 0;
font-size: 1.2rem;
font-family: "Roboto";
}
select.start {
  opacity: 1;
  transform: translateY(0px);
}
select option {
  font-family: "Roboto";
}
select:hover {
    background-color: var(--dark);
}
#seta-esquerda {
    opacity: 0.3;
    cursor: not-allowed;
    z-index: 10;
}
#seta-esquerda.opacidade {
    opacity: 1;
    cursor: pointer;
}
.products {
    width: 55vh;
    height: 90%;
    margin-left: 15px;
    font-family: "Roboto";
    margin-right: 15px;
    z-index: 100;
    margin-top: 20px;
    border-radius: 30px;
    
}
.descricao {
    text-align: center;
    margin-left: 20px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.11rem;
    margin-right: 20px;
}
.produtos-cima {
    height: 15%;
    padding: 10px;
    padding-left: 50px;
    padding-top: 40px;
    border-radius: 30px 30px 0px 0px;
    background-color: var(--dark-light);
    color: var(--light);

}
.produtos-meio {
    background-color: var(--dark-light);
    color: var(--light);
    height: 70%;

}
.imagem-area {
    background-color: var(--dark-light);
    width: 100%;
    height: 70%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.produtos-comeco {
    background-color: bisque;
    width: 100%;
    height: 15%;
    border-radius: 0px 0px 30px 30px;
    display: flex;
}
.produtos-comeco-esquerdo {
    background-color: var(--dark-light);
    width: 50%;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 0px 0px 0px 30px;
}
.produtos-comeco-esquerdo button {
    width: 3rem;
    font-size: 2rem;
    margin-right: 1.1rem;
    height: 3rem;
    background-color: var(--dark);
    border: none;
    color: var(--light);
    font-weight: bold;
    border-radius: 50%;
    scale: 1.0;
}
#final {
    width: 100%;
    height: 15vh;
}
.produtos-comeco-direito {
    background-color: var(--dark-light);
    width: 50%;
    border-radius: 0px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.produtos-comeco-direito button {
    border: none;
    width: 7rem;
    margin-left: 50px;
    height: 3rem;
    border-radius: 30px;
    background-color: var(--dark);
    color: var(--light);
    font-weight: 600;
    text-transform: uppercase;
}
.products img {
    width: 150px;
    height: 200px;
    object-fit: contain;
}
#seta-direita.opacidade {
  opacity: 0.1;
  cursor: not-allowed;
}
@media(min-width:0px) and (max-width: 1450px) {
    #seta-esquerda, #seta-direita {
        display: none;
    }
    #produtos {
      width: 100%;
    }
    #roleta {
        display: grid;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left:0 ;
    }
    .products {
      margin-left: 0px;
      place-self: center;
      margin-right: 0px;
    }

}
@media(min-width:350px) and (max-width: 400px) {
  .products {
    scale: 1;
    height: 70vh;
    grid-template-columns: 100%;
    grid-auto-rows: 70rem;
  }
  #roleta {
    grid-template-columns: repeat(1, 100%);
  }
}
@media (min-width:200px) and (max-width:500px) {
  #pedido {
    width: 90vw;
    height: 80vh;
    position: fixed;
    overflow-y: auto;
    top: 10vh;
    bottom: 5vh;
    left: 5vw;
    right: 5vw;
    margin: 0;
  }
  #seta-esquerda, #seta-direita {
    display: none;
  }
  #input {
    margin-left: -50px;
  }
  #forapedido {
    overflow-y: auto;
  }
  #pedido input[type="text"] {
    transform: translateX(-30px);
  }
  #cimapedido {
    height: 5%;
    border: none;
  }
  #cimapedido button {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    font-size: 1rem;
    margin-top: 30px;
  }
  #linha1, #linha2, #linha3,#linha4 {
    width: 50vw;
    transform: translateX(-20px);
  }
  #linha1 h1, #linha2 h1, #linha3 h1, #linha4 h1 {
    margin: 0;
    width: 70%;
  }
  #linha1 input, #linha2 input, #linha3 input, #linha4 input {
    margin-left: 2px;
    margin-right: 20px;
  }
  .linhas-alinhamento {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  #texto-e-botao h1 {
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  #centropedido {
    height: 50vh;
  }
  #aplicacoesadicionais h1:first-child {
    transform: translateX(-20px);
  }
  #aplicacoesadicionais {
    width: 100%;
    margin-top: -20px;
  }
  #finalpedido {
    height: 20vh;
  }
  #valor {
    font-size: 1.25rem;
    transform: translateX(-125px);
  } 
}
@media(min-width:300px) and (max-width:330px) {
  #roleta {
    grid-template-columns: repeat(1, 100%);
  }
  .products {
    height: 100vh;
    width: 60vh;
  }
    .produtos-comeco-direito button {
    margin-right: 20px;
  }
}
@media (min-width:1240px) and (max-width:1400px) {
    #roleta {
        grid-template-columns: repeat(2, 40rem);
        gap: 50px;
        grid-auto-rows: 40rem;
    }
    .products {
        scale: 0.9;
    }
}

@media (min-width: 1240px) and (max-width: 1400px) {
  #roleta {
    grid-template-columns: repeat(2, 40rem);
    grid-auto-rows: 40rem;
  } 

  .products {
    scale: 0.9;
  }
}

@media (min-width: 1101px) and (max-width: 1300px) {
  #roleta {
    grid-template-columns: repeat(2, 35rem);
    grid-auto-rows: 45rem;
  }
}

@media (min-width: 1241px) and (max-width: 1450px) {
  #roleta {
    grid-template-columns: repeat(2, 34rem);
    grid-auto-rows: 40rem;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  #roleta {
    grid-template-columns: repeat(1, 100vw); 
    grid-auto-rows: 40rem;
  }
}

@media (min-width: 800px) and (max-width: 899px) {
  #roleta {
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: 40rem;
    gap: 10px;
  }
}

@media (min-width: 650px) and (max-width: 799px) {
  #roleta {
    grid-template-columns: 30rem;
    grid-auto-rows: 40rem;
  }
}

@media (min-width: 400px) and (max-width: 649px) {
  #roleta {
    grid-auto-rows: 35rem;
  }

  .products {
    scale: 0.9;
}
}
@media (min-width:700px) and (max-width: 1000px) {
  #pedido {
    margin: 5%;
  }
}