@import url("./global.css");
#container-oque {
    width: 100%;
    font-family: "roboto";
    display: flex;
    min-height: 100vh;
}
#container-oque-esquerda {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#container-oque-direita {
    width: 50%;
    padding: 50px;
}
#container-oque-direita p {
    font-size: 1.2rem;
}
#container-oque-direita h1 {
    margin-bottom: 50px;
}
#container-oque-esquerda img {
    width: 40rem;
    border-radius: 10px;
    height: 30rem;
}
#quem-sao-os-membros {
    height: 200vh;
}
#linha1, #linha2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.membro {
    width: 35%;
    height: 80%;
    background-color: var(--dark-light);
    margin-left: 30px;
    border-radius: 10px;
    margin-right: 30px;
}
.membro-cima {
    width: 100%;
    border-bottom:6px solid var(--dark) ;
    border-radius: 10px 10px 0px 0px;
    height: 50%;
}
@media(max-width:800px) {
    #container-oque {
        display: block
    ;}
    #container-oque-esquerda {
        width: 100%;
        margin-top: 50px;
    }
    #container-oque-direita {
        width: 100%;
        text-align: center;
        padding-top: 50px;
    }
}
.membro-baixo-nome {
    background-color: red;
    display: flex;
    font-family: "roboto";
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}