@import url("./global.css");
body {
    width: 100%;
    min-height: 100vh;
    background-color: #02040f;
}
#home {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 85vh;
}
header a {
    color: #edf6f9;
}
#home-text {
    color: #edf6f9;
    opacity: 0;
    margin-bottom: 0px;
    text-align: center;
    position: absolute;
    transition: 0.5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#home-text.start {
    opacity: 1;
    margin-bottom: 100px;
    transition: 0.8s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#home-text h1 {
    font-family: "Anton";
    font-weight: 200;
    font-size: 4rem;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
}
#home-text h2 {
    font-family: "Roboto";
    margin-top: -20px;
}
#home-text-buttons button {
    width: 205px;
    background-color: transparent;
    font-weight: bold;
    color: #edf6f9;
    margin-top: 50px;
    font-family: "Roboto";
    overflow: hidden;
    border: 6px solid #edf6f9;
    font-size: 1.5rem;
    height: 100px;
    z-index: 1;
    border-radius: 50px;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#home-text-buttons button:hover {
    color: #02040f;
}
#home-text-buttons button:hover::after {
    border-radius: 50px;
    height: 100px;
    width: 205px;
    transform: scaleY(1);
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
#home-text-buttons button::after {
    position: absolute;
    background-color: #edf6f9;
    transition: 0.5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
    width: 205px;
    transform-origin: bottom;
    transform: scaleY(0);
    border-radius: 0px;
    z-index: -1;
    height: 100px;
    top: -6%;
    right: -3%;
    content: "";
}
#home-opacity {
    background-color:  rgba(0, 0,0);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
}
video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: #8d99ae;
}
::-webkit-scrollbar-thumb {
    background-color: #02040f;
    border-radius: 30px;
}
video {
    margin-top: 20px;
}
@media (max-width: 500px) {    
    video {
        height: 110vh;
        object-fit: fill;
    }
    #home-opacity {
        height: 110vh;
    }
    #home {
        margin-top: 100px;
    }
    #home-text-buttons button {
            width: 140px;
            border: 5px solid #edf6f9;
            font-size: 1.2rem;
    }
    #home-text {
        margin-top: 250px;
    }
    #home-text.start {
        margin-top: 50px;
    }
    #home-text-buttons button {
        width: 130px;
        height: 80px;
        border-radius: 30px;
    }
    #home-text-buttons button:hover::after {
        width: 1000px;
        border-radius: 30px;
    }
    video {
        width: 100%;
        object-fit: fill;
        height: 120vh;
    }
    #home-opacity {
        height: 120vh;
    }
}
@media (max-width:350px) {
    #home-text.start{
        margin-bottom: 200px;
    }
    #home-text.start h1 {
        font-size: 3rem;
    }
    #home-text-buttons button {
        width: 115px;
        border: 3px solid #edf6f9;
        height: 50px;
        font-size: 0.95rem;
    }
    #home-text-buttons button::after {
        right: -20%;
    }
}